body{
    background-color: pink;
}

.header-container{
    display: flex;
    height: 120px;

}

.name {
    text-align: center;
    color: #3498db;
    font-size: 25px;
    margin-left: 10px;

}

.logo{
    width: 100px;
    border: 4px solid black;
    border-radius: 100px;
}

#class-passes {
    display: none;
    grid-template-areas: 
    'header header header header header header'
    'image-1 image-2 image-3 image-4 image-5 image-6';
    margin-bottom: 1vh;
    gap: 50px;
} 

#class-passes-header {
    grid-area: header;
}

.student-pass-container {
    background-color: white;
}

#passdude-1 {
    grid-area: image-1; 
}

#passdude-2 {
    grid-area: image-2;
}

#passdude-3 {
    grid-area: image-3;
}

#passdude-4 {
    grid-area: image-4;
}

#passdude-5 {
    grid-area: image-5;
}

#passdude-6 {
    grid-area: image-6;
}

#passdude-1, #passdude-2, #passdude-3, #passdude-4, #passdude-5, #passdude-6 {
    width: 50px;
    height: 50px;
}



