body{
  background-color: rgb(243, 178, 178);
}

.willie{
  width: 30%;
  border-radius: 50%;
  border: 10px solid #073e62;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  margin: 1rem;
  text-align: center;
  font-size: 4em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #073e62;
  
  
}

.start-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

#start-button {
  background-color: #073e62; /* Background color */
  color: #fff; /* Text color */
  font-size: 1.9rem; /* Font size */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1.8rem 15rem; /* Padding */
  border: none; /* Remove the default button border */
  border-radius: 0.5rem; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition */
}

/* Hover effect */
#start-button:hover {
  background-color: #0c6fb0; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly scale up on hover */
}

/* Focus effect */
#start-button:focus {
  outline: none; /* Remove the default focus outline */
}

.admin-login{
  display: flex;
  justify-content: center;
  height: 100px;
  align-items:flex-end;


}




