html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.name {
  margin: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.dropdown select:focus {
    outline: none;
    border-color: #3498db;
}

.dropdown select option {
    padding: 10px;
    cursor: pointer;
}

.dropdown ::placeholder {
    padding: 10px;
    cursor: pointer;
}
  