html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.name {
    margin: 1rem;
    grid-area: header;
}

.pass-textbox {
    grid-area: pass-textbox;
}

.header-grid-container {
    display: grid;
    grid-template-areas: 
    'header header pass-textbox';
    margin-bottom: 74px;
} 

.pass-item {
    grid-area: pass;
}

.passes-grid-container > div{
    background-color: rgba(255,255,255,0.5);
    padding: 190px 0px;
}

.passes-grid-container {
    display: grid;
    grid-template-areas:
    'pass pass pass'
    'pass pass pass';
    gap: 10px;
    background-color: grey;
    padding: 20px;
}

