@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400&display=swap');

body{
  background-color: #6183a7;
}

.willie{
  width: 28%;
  border-radius: 100%;
  border: 5px solid #e67f88;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-duration: .9s;
  animation-name: zoomIn; 
}

.name {
  margin: 1rem;
  margin-top: 40px;
  text-align: center;
  font-size: 3.2em;
  font-family: 'Azeret Mono', monospace;
  color: #073e62;
  animation-name: slideFromTop;
  animation-duration: .9s;

}

.start-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-bottom: 20px;
  
}

#start-button {
  background-color: #e67f88; /* Background color */
  color: #E6E1D1; /* Text color */
  font-size: 1.9rem; /* Font size */
  font-family: 'Azeret Mono', monospace;
  padding: 1.5rem 6rem; /* Padding */
  border: none; /* Remove the default button border */
  border-radius: 0.5rem; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition */

}

/* Hover effect */
#start-button:hover {
  background-color: #073e62; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly scale up on hover */
}

/* Focus effect */
#start-button:focus {
  outline: none; /* Remove the default focus outline */
}

.admin-login{
  display: flex;
  justify-content: center;
  height: 100px;
  align-items:flex-end;
  font-family: 'Azeret Mono', monospace;
}

a{
  color: #073e62 ;
}

@keyframes slideFromTop{

  0%{
    transform: translateY(-250px);
    
  }

  75%{
    transform: translateY(20px);

  }

  100% {
    transform: translateY(0px);
    
  }


}

@keyframes zoomIn{

  0%{
    transform: scale(40%);
    
  }

  75%{
    transform: scale(105%);

  }

  100% {
    transform: scale(100%);
    
  }
}