@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400&display=swap');

body{
  background-color: rgb(243, 178, 178);
}

.willie{
  width: 28%;
  border-radius: 100%;
  border: 5px solid #073e62;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  margin: 1rem;
  margin-top: 40px;
  text-align: center;
  font-size: 3.2em;
  font-family: 'Azeret Mono', monospace;
  color: #073e62;
}

.start-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-bottom: 20px;
}

#start-button {
  background-color: #073e62; /* Background color */
  color: #fff; /* Text color */
  font-size: 1.9rem; /* Font size */
  font-family: 'Azeret Mono', monospace;
  padding: 1.5rem 6rem; /* Padding */
  border: none; /* Remove the default button border */
  border-radius: 0.5rem; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition */

}

/* Hover effect */
#start-button:hover {
  background-color: #0c6fb0; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly scale up on hover */
}

/* Focus effect */
#start-button:focus {
  outline: none; /* Remove the default focus outline */
}

.admin-login{
  display: flex;
  justify-content: center;
  height: 100px;
  align-items:flex-end;
  font-family: 'Azeret Mono', monospace;
}

a{
  color: black;
}



